<header>
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="container-sm">
            <a class="navbar-brand" href="/">Navbar</a>
            <button id="responsiveButton" class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNavbar" aria-expanded="false" aria-controls="collapseNavbar">
                content
            </button>
        </div>
    </nav>
    <div class="collapse" id="collapseNavbar">
        <nav id="dynamicNav" class="flex-column">
            <a class="nav-link text-sm-center text-white bg-dark" href="">Dashboard</a>
            <a class="nav-link text-sm-center text-white bg-dark" href="#">Language</a>
            <a class="nav-link text-sm-center text-white bg-dark" href="/accounts/logout">Logout</a>
        </nav>
    </div>
</header>