<div class="container-fluid">
    <div class="content row">
        <!-- Barra lateral -->
        <div class="col-md-4 sidebar">
            <h5>Menu</h5>
            <ul>
                <li>
                    <a id="services" href="/dashboard/marketplace">Ver servicios disponibles</a>
                </li>
                <li>
                    <a id="chat" href="/dashboard/chat">Chat</a>
                </li>
            </ul>
        </div>
        <div id="important-content" class="col-md-9">
            <!-- main content here -->
            <div class="chat-container">
                <div class="title-container container-fluid d-flex p-3">
                    <h5>Chat</h5>
                </div>
                <div class="chat-container container-fluid d-flex flex-sm-column p-3">
                    <div id="messages">
                        <p class="own-message">Hola</p>
                        <p class="default-message">asd</p>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <form id="chat-form" action="" method="post">
                        <input id="message-input" type="text" class="form-control" placeholder="Escribe aqui"
                            aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>