<div class="container-fluid">
    <div class="content row">
        <!-- Barra lateral -->
        <div class="col-md-4 sidebar">
            <h5>Menu</h5>
            <ul>
                <li>
                    <a id="services" href="/dashboard/marketplace">Ver servicios disponibles</a>
                </li>
                <li>
                    <a id="chat" href="/dashboard/chat">Chat</a>
                </li>
            </ul>
        </div>
    </div>
</div>